<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lydia.mynote2self" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/df_launch_icon"
        android:logo="@mipmap/home_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name =".MainApp">
        <activity
            android:name=".AddNoteActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayNotesActivity"
            android:label="@string/title_activity_display_notes"
            android:parentActivityName=".AddNoteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="AddNoteActivity" />
        </activity>
    </application>

</manifest>
